<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="aight.min.js"></script>
  <![endif]-->
  <title>BigDIVA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script type="text/javascript">
      gArcLogoImagePath = "<%= image_path 'arc-logo.png' %>";
      gDebugMode = <%= @debugMode ? 'true' : 'false' %>;
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

   <div id="site-header">
      <div id="left-header">
         <%= image_tag("bigdiva-logo-lg.png") %>
         <%= render :partial => '/layouts/key' %>
      </div>
     <div id="debuglog"></div>
      <%= render :partial => '/layouts/search' %>
      <div style="clear: both"></div>
   </div>

   <div id="main-content">
      <%= yield %>

      <%= render :partial => '/layouts/sidebar' %>
   </div>

   <div id="dim-overlay"></div>
   </body>

   <div id="footer-panel">
     <button id="show-timeline-button">Show Timeline</button>
     <div id="loading-timeline">Loading Timeline</div>
     <div id="bigdiva-logo"></div>
     <a id="help-lower" target="_blank" href="http://idhmcmain.tamu.edu/image-store/bgpages/bigdiva-help.html">Help</a>


      <div id="timeline-tabs" class="tabs">
        <ul id="timeline-mode" class="tab-links">
          <li id="first-pub-block" class="timeline-tab selected"><a href="#tab-first-pub">First Publication Year</a></li>
          <li id="decade-block" class="timeline-tab"><a href="#tab-decade">Decades Published</a></li>
          <li id="quarter-century-block" class="timeline-tab"><a href="#tab-quarter-century">Quarter-Centuries Published</a></li>
          <li id="half-century-block" class="timeline-tab"><a href="#tab-half-century">Half-Centuries Published</a></li>
          <li id="century-block" class="timeline-tab"><a href="#tab-century">Centuries Published</a></li>
        </ul>
      </div>
   </div>

   <footer>
     <div id="timeline-panel" class="tabbed-panels">
         <div id="tab-first-pub" class="tab">
           <div id="timeline-first-pub"></div>
         </div>
         <div id="tab-decade" class="tab">
           <div id="timeline-decade"></div>
         </div>
         <div id="tab-quarter-century" class="tab">
           <div id="timeline-quarter-century"></div>
         </div>
         <div id="tab-half-century" class="tab">
           <div id="timeline-half-century"></div>
         </div>
         <div id="tab-century" class="tab">
           <div id="timeline-century"></div>
         </div>
     </div>
   </footer>

</html>
